 <!DOCTYPE html>
<html>
<head>
    <title>{{ chapter.title }}</title>
</head>
<body>

{% block body %}


<div>
    <div class="col-md-10">
        <h2>{{ chapter.title }}</h2>
        <h3>{{ chapter.subtitle }}</h3>
    </div>
</div>

<div>
    <p>{{ chapter.content | raw }}</p>
</div>

    <page_footer>
        [[page_cu]]/[[page_nb]]
    </page_footer>




{% endblock %}

</body>
</html>
