 <!DOCTYPE html>
<html>
<head>
    <title>{{ chapter.title }}</title>
    <style>
        p {
            font-family: Lora, serif;
        }
        h2, h3 {
            position: relative;
            top: -120px;
            margin-left: 20px;
            color: white;
            text-shadow:  2px 2px black;
        }
        p {
            text-align: justify;
        }

    </style>
</head>
<body>


{% block body %}


<div>
    <div class="col-md-10 header">
       <img src="http://localhost/ebookblog/web/img/aurora-borealis.jpg" width="750" height="250"/>
        <h2>{{ chapter.title }}</h2>
        <h3>{{ chapter.subtitle }}</h3>
    </div>
</div>

<div>
    <p>{{ chapter.content | raw }}</p>
</div>

    <page_footer>
        [[page_cu]]/[[page_nb]]
    </page_footer>




{% endblock %}

</body>
</html>
