{% extends "admin/layout.html.twig" %}

{% block body %}

<div id="page-wrapper">
    <h3>Edition du chapitre</h3>
    <div>
        {{ form(form) }}
    </div>
</div>
<!-- /#page-wrapper -->

{% endblock %}
